
.navBarButtonFiles {
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

    display: inline-block;
    color: white;
    text-align: center;
    height: 100%;
}