.appFlexControl {
    display: flex;
    flex-flow: column; 
    height: 100%;
}

.uiFlexControl {
    flex: 1 1 auto;
}

.codeWritingWorkspaceFlexControl {
    height: 94%;
    display: flex;
    flex-direction: column;
}

.codeInputFlexControl {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.codeInputTextAreaFlexControl {
    flex-grow: 1;
    padding: 0%;
    width: 100%;
}

.fileManagerDivFlexControl {
    height: 35vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    max-height: 35vh;
}

.fileManagerFilesFlexControl {
    margin-top: 5%;
    flex: 1;
    overflow-y: auto;
}

.caseInputFlexControl {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.caseInputTextAreaFlexControl {
    flex-grow: 1;
    padding: 0%;
    width: 100%;
}

.caseWritingWorkspaceFlexControl {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menuOverviewFlexControl {
    margin-top: 5%;
    flex: 1;
    overflow-y: auto;
}

.caseBuildContentFlexControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.caseManagerDivFlexControl {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.builtInFunctionsDivFlexControl {
    margin-top: 5%;
    height: 35vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    max-height: 35vh;
}

.builtInFunctionsComponentFlexControl {
    margin-top: 5%;
    flex: 1;
    overflow-y: auto;
}